css:
  body { background-color: #4b4b4b; }
  .container { margin-top: 42px; }
  a { color: white;
    font-size: 1.5rem;
  }
  a:hover {
    color: #b4b4b4;
    padding-top: 42px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  .demo-container {
    text-align:center;
    height:50%;
  }
  .demo-container img {
    position:relative;
    top:25%;
  }

.demo-container
  = image_tag 'logo'
